<!-- <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/icons/academic-icon_new.svg"> -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon-32x32_new.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icons/apple-touch-icon_new.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/icons/favicon-32x32_new.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/icons/favicon-16x16_new.png">


<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/academicons.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/collapse.css"/>

<script src="{{ site.baseurl }}/assets/js/collapse.js"></script>

<!-- end custom head snippets -->
